* {
  padding: 0;
  margin: 0;
}

nav {
  color: white;
  background-color: rgb(185, 6, 117);
  height: 2rem;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and ( min-width:768px ) {
  nav {
    background-color: rgb(216, 110, 11);
  }
}

@media only screen and ( min-width:1068px ) {
  nav {
    background-color: rgba(102, 255, 0, 0.904);
  }
}

li {
display: inline;
text-decoration: none;
    justify-content: space-around;
    align-items: center;
    padding-inline: 20px;
}

.inicio {
 height: auto;
 width: auto;
  height: 25em;
  width: auto;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 150%;
  font-family: sans-serif;
  color: hotpink;
}

.container {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  height: 80em;
  width: 100%;
  background-color: rgb(236, 236, 236);
}

@media only screen and (min-width:768px ){
    .container {
      background-color: indigo;
    }
}

.contenido {
  height: 40em;
  width: 40em;
  background-color: chocolate;
  color:rgb(185, 6, 117);
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center;
  align-items: center; */
}
@media only screen and (min-width:400px){
    .imagen {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 40%;
            width: 30%;
}
}

.servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  width: 20em;
}

/* .parrafo {

} */

h2 {
  font-size: 100%;
  color: white;
}

.contenido1 {
height: 40em;
width: 40em;
background-color: rgb(30, 189, 210);
color:rgb(185, 6, 117);
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}