
div {
  height: 50px;
  background-color: black;
}

@media only screen and (min-width: 320px) {
  div {
    background-color: blue;
  }
}

@media only screen and (min-width: 480px){
  div {
    background-color: red;
  }
}

@media only screen and (min-width: 768px){
  div {
    background-color: palevioletred;
  }
}

@media only screen and (min-width: 1024px){
  div {
    background-color: peru;
  }
}

